$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

$gray: #ddd;
$yellow: #ffdc00;

html,
body {
  margin: 0;
  padding: 0;
}

.navbar-header {
  .navbar-brand {
    float: right;
    .site-logo {
      max-width: 40px;
      width: 100%;
    }
    .site-name {
      color: $yellow;
      display: inline-block;
      font-family: 'Bree Serif', TimesNewRoman, 'Times New Roman', Times, Georgia, serif;
      font-size: 1em;
      letter-spacing: 0.1em;
      margin: 0;
    }
  }
  .navbar-toggle {
    float: left;
    margin-left: 15px;
  }
}
.navbar-fixed-top {
  border: 0;
}
#list {
  margin-top: 55px;
  .list-group {
    margin-bottom: 5px;
  }
}
#navbar {
  .nav-list {
    margin-right: -15px;
    margin-left: -15px;
  }
}

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
  .switch-toggle {
    label {
      cursor: pointer;
    }
  }
}

.nav > li {
  > a:hover,
  > a:focus {
    background-color: $gray;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;

  & > .active > a,
  & > .active > a:hover,
  & > .active > a:focus {
    color: #000;
    background-color: $yellow;
  }

  & > li > a {
    color: #000;
    padding-right: 20px;
    padding-left: 20px;
  }
}

.switch {
  .btn {
    background-color: $yellow;
  }
  .well {
    background-color: $gray;
    margin-bottom: 30px;
    label {
      font-weight: normal;
    }
  }
}

.list-group {
  .details {
    border: 1px solid #ddd;
    border-bottom: 0;
    border-top: 0;
    padding: 10px 15px;
    &:last-child {
      border-bottom: 1px solid #ddd;
    }
  }
  .location .name {
    font-size: 1.5em;
  }
}


@media screen and (max-width: 767px) {
  #navbar {
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
    .navbar-form {
      border: 0;
      box-shadow: 0;
    }
    .nav-list {
      & > .active > a,
      & > .active > a:hover,
      & > .active > a:focus {
        color: #000;
        background-color: $yellow;
      }
      & > li > a {
        color: #000;
      }
    }
    .switch {
      padding: 0;
      .well {
        margin-bottom: 15px;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .container-fluid {
    padding-left: 0;
    padding-right: 0;
    .row {
      margin: 0;
    }
  }
  .navbar-header {
    float: right;
  }
  #navbar {
    .navbar-form {
      padding-right: 13px;
      width: 100%;
    }
    .row .col-sm-3 {
      padding-right: 0;
    }
  }
  .sidebar {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
  }
}

@media screen and (min-width: 992px) {
  #navbar {
    .navbar-form {
      padding-right: 11px;
    }
  }
}

/* Google Maps stuff */
.gm-style-iw {
  > div {
    position: relative;
  }
  h1 {
    font-size: 2em;
  }
  .address {}
  .phone {}
  .rating {}
  .website {}
}

#map {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}